[variables]
NODE_VERSION = "20"
NIXPACKS_NODE_VERSION = "20"

[phases.setup]
nixPkgs = ["nodejs_20", "pnpm"]

[phases.install]
cmds = ["pnpm install"]

[phases.build]
cmds = ["pnpm --filter api build"]

[start]
cmd = "node dist/server/index.js"
